div.command-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-width: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    background-color: #f5f5f5;
}

div.command-container p {
    margin: 0px;
    font-size: small !important;
}

div#parameter-container>input {
    margin-bottom: 10px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

/* COMMAND DASHBOARD WIDGET STYLES */

/* The widget title gets a colored underline to make it pop a little more */
div#command-dashboard-widget .hndle span {
    border-width: 0;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #3ECF8E;
}

div#command-dashboard-widget a {
    color: #28A46C;
}

div#command-dashboard-widget p {
    /* increase the font size */
    font-size: medium;
}

div#command-dashboard-widget hr {
    margin: 15px;
}

#command-name {
    width: 500px !important;
    align-self: stretch !important;
}

/* The execute button gets a more modern design and color */
#command-call {
    /* center the button within the container */
    align-self: center;

    /* Making a material design button */
    border-style: solid;
    border-width: 0;
    border-bottom-width: 3px;
    border-bottom-color: #28A46C;

    /* Scaling the button up, so it can be seen better */
    font-size: large;
    width: 100px !important;
    height: 30px !important;

    background-color: #3ECF8E;
    color: white;
}
#command-call:active {
    /* Button press animation */
    background-color: #28A46C;
    border-bottom-width: 0px;
    border-top-width: 3px;
    border-top-color: rgba(0,0,0,0);
}

/* The info messages will be smaller in font size and also a slight grey color */
.command-info {
    font-size: small !important;
    color: dimgrey;
}